<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ru.itis"/>
    <bean class="ru.itis.services.UserServiceImpl">
        <constructor-arg name="passwordChecker" ref="passwordChecker"/>
        <constructor-arg name="userRepository" ref="userRepository"/>
    </bean>

    <bean id="userRepository" class="ru.itis.repositories.UserRepositoryJdbcImpl"></bean>

<!--    <bean id="userRepositoryJdbcImpl" class="ru.itis.repositories.UserRepositoryJdbcImpl"></bean>-->

<!--    <bean id="passwordChecker" class="ru.itis.utils.PasswordCheckerUtilImpl"></bean>-->

</beans>